<div class="container-fluid">
  <h1>Change log </h1>
  <small> Note: the links are for internal development use. This page is purely informational </small>
    <%- include('./versions/0.4.1.ejs') %>
  <%- include('./versions/0.4.ejs') %>
    <%- include('./versions/0.3.ejs') %>
      <%- include('./versions/0.2.ejs') %>
        <%- include('./versions/0.1.ejs') %>
</div>
