<%- exposeLocalsToBrowser() %>

<div class="container">


  <h1>
    <%= user.username %>
  </h1>


  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Steam ID</td>
        <td>
          <%= user.steamId %>
        </td>
      </tr>
      <tr>
        <td>
          <a class="btn btn-sm btn-primary" href="/auth/discord">
            <p>
              <i class="fab fa-discord"></i> Update Discord ID</p>
          </a>
        </td>

        <td>
          <%= user.discordId %>

        </td>
      </tr>
      <tr>
        <td>Donator status</td>
        <td><span id="donatorStatus"></span></td>
      </tr>
    </tbody>
  </table>


  <h3>Owned server(s)</h3>

  <table class="table table-bordered">
    <thead>
      <td>ID</td>
      <td>Name</td>
    </thead>
    <tbody>
      <% servers.forEach(server => { %>
      <tr>
        <td>
          <%= server.id %>
        </td>
        <td>
          <%= server.name %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <h3>Player profile(s)</h3>

  <table class="table table-bordered">
    <thead>
      <td>Name</td>
      <td>Playtime</td>
      <td>Server </td>
      <td>Role</td>
    </thead>
    <tbody>
      <% players.forEach(player => { %>
      <tr>
        <td>
          <%= player.name %>
        </td>
        <td>
          <%= player.playtime %>
        </td>
        <td>
          <%= player.server.name %>
        </td>
        <td>
          <% if(player.role) { %>
          <%= player.role.name %>
          <% } else { %>
          <%= "No role" %>
          <% } %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>


</div>
<script>
  $(document).ready(function () {

    loadDonatorStatus();

  });

  function loadDonatorStatus() {
    $.ajax({
      url: `/api/sdtdserver/donatorStatus`,
      type: 'GET',
      data: {
        userId: window.SAILS_LOCALS.user.id,
        reload: true,
      },
      success: (data, status, xhr) => {
        $("#donatorStatus").text(data);
      },
      error: function (xhr, status, error) {
        displayAjaxToSupportData(xhr, this);;
        showErrorModal(`${error} - ${xhr.responseText}`, xhr);
      }
    });
  }

</script>
