<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1>
        <%= ticket.title %>
      </h1>

      <p>
        <%= ticket.description %>
      </p>

      <h2> Details </h2>
      <table class="table">
        <tbody>
          <tr>
            <td>Player name</td>
            <td>
              <a href="/player/<%= ticket.playerInfo.id %>/profile">
                <%= ticket.playerInfo.name %>
              </a>
            </td>
          </tr>
          <tr>
            <td>Location</td>
            <td>
              <%= ticket.playerInfo.positionX %>
                <%= ticket.playerInfo.positionY %>
                  <%= ticket.playerInfo.positionZ %>
            </td>
          </tr>
          <tr>
            <td>Created on</td>
            <% let ticketDate = new Date(ticket.createdAt) %>
              <td>
                <%= ticketDate.toDateString() %>
                  <%= ticketDate.toTimeString() %>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <div class="btn-group btn-group-sm btn-group-vertical" role="group">

        <% if (ticket.status) { %>
          <%- include('./partials/editTicketDescriptionButton', ticket) %>
            <% } %>

              <% if (ticket.status) { %>
                <%- include('./partials/closeTicketButton', ticket) %>
                  <% } else { %>
                    <%- include('./partials/openTicketButton', ticket) %>
                      <% } %>
                        <!--
                        <button id="btn-toggle-inventory" class="btn btn-secondary" type="button">
                          Toggle inventory
                        </button>
                      -->
                        <%- include('./partials/addCommentButton', ticket) %>
      </div>
    </div>

    <!--
    <div id="player-inventory" class="col-md-4">
      <%- include('../player/partials/playerInventory', {player: ticket.playerInfo}) %>
    </div>
  -->

  </div>

  <div class="row">
    <div class="col-md-8">
      <% comments.forEach(comment => { %>
        <%- include('./partials/ticketComment', {comment: comment, ticket: ticket}) %>
          <% }) %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<script>

  $(document).ready(function () {
    $('#player-inventory').hide();
    $('#btn-toggle-inventory').click(e => {
      e.preventDefault();
      $('#player-inventory').fadeToggle();
    })
  })

</script>