<!-- BASIC SERVER SETTINGS -->

<div class="container">

  <div>Detected CPM version
    <%= cpmVersion %>
  </div>

  <div>Server donator status: <span id="donatorStatus"></span></div>

  <br>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="input-settings-server-inactive" id="input-settings-server-inactive"
        value="true">
      Enable CSMM features. <p> <small>If you disable this, CSMM will not interact with your server anymore but you
          will not lose any configuration or data.</small></p>
    </label>
  </div>

  <div class="alert alert-warning invisible" id="failedStatus" role="alert">
    <strong>Connection issue: </strong>CSMM was last able to detect events on your server on <span id="failedStatus-lastSuccess"></span>
    and has failed <span id="failedStatus-counter"></span> times since. If your server is offline for an extended time,
    CSMM will disable features. When you have fixed the connection problem, you can re-enable all features with the
    checkbox above.
  </div>

  <hr>

  <label for="input-settings-server-servername">Server name</label>
  <input type="text" class="form-control" id="input-settings-server-servername" value="<%= server.name %>">


  <label for="input-settings-server-ip">IP</label>
  <input type="text" class="form-control" id="input-settings-server-ip" value="<%= server.ip %>">


  <label for="input-settings-server-webPort">Web port</label>
  <input type="text" class="form-control" id="input-settings-server-webPort" value="<%= server.webPort %>">

  <label for="input-settings-server-authName">Authorization name</label>
  <input type="password" class="form-control" id="input-settings-server-authName" value="<%= server.authName %>">

  <label for="input-settings-server-authToken">Authorization token</label>
  <input type="password" class="form-control" id="input-settings-server-authToken" value="<%= server.authToken %>">

  <hr>

  <button id="input-settings-server-update" class="btn btn-primary" type="button">
    <em class="glyphicon glyphicon-align-right"></em>
    <i class="fas fa-sync-alt"></i> Apply changes
  </button>

  <div id="basic-settings-result"></div>

  </ul>


</div>



<script>
  $(document).ready(function () {

    loadDonatorStatus();
    displayFailedStatus();

    if (!window.SAILS_LOCALS.config.inactive) {
      $("#input-settings-server-inactive").prop('checked', true)
    }

    $('#input-settings-server-update').click((event) => {
      event.preventDefault();

      handleConnectionInfo().then(() => {
        handleActiveStatus().then(() => {
          $("#basic-settings-result").text('Changes saved.')
        }).catch(e => {
          $("#basic-settings-result").text('An error occured!.')
        })
      }).catch(e => {
        $("#basic-settings-result").text('An error occured!.')
      })

    })
  })


  function handleConnectionInfo() {
    return new Promise((resolve, reject) => {
      let ip = $("#input-settings-server-ip").val();
      let webPort = $("#input-settings-server-webPort").val()
      let serverName = $('#input-settings-server-servername').val();
      let authName = $('#input-settings-server-authName').val()
      let authToken = $('#input-settings-server-authToken').val();

      if (!validator.isFQDN(ip) && !validator.isIP(ip)) {
        return showErrorModal(`${ip} is not a valid IP or FQDN.`)
      }

      if (!validator.isPort(webPort)) {
        return showErrorModal(`${webPort} is not a valid port.`)
      }

      if (validator.isEmpty(authName, {
          ignore_whitespace: true
        })) {
        authName = undefined
      }

      if (validator.isEmpty(authToken, {
          ignore_whitespace: true
        })) {
        authToken = undefined
      }

      $.ajax({
        url: `/api/sdtdserver/updateconnectioninfo`,
        type: 'POST',
        data: {
          _csrf: window.SAILS_LOCALS._csrf,
          serverId: window.SAILS_LOCALS.server.id,
          serverIp: ip,
          webPort: webPort,
          serverName: serverName,
          authName: authName,
          authToken: authToken
        },
        success: (data, status, xhr) => {
          resolve()
        },
        error: function (xhr, status, error) {
          displayAjaxToSupportData(xhr, this);;
          showErrorModal(`${error} - ${xhr.responseText}`, xhr);
          reject();
        }
      });

    })
  }

  function handleActiveStatus() {
    return new Promise((resolve, reject) => {
      let activeStatus = $("#input-settings-server-inactive").prop('checked');

      if (activeStatus !== window.SAILS_LOCALS.config.inactive) {
        return resolve();
      }

      window.SAILS_LOCALS.config.inactive = !activeStatus;
      $.ajax({
        url: `/api/sdtdserver/inactive`,
        type: 'POST',
        data: {
          _csrf: window.SAILS_LOCALS._csrf,
          serverId: window.SAILS_LOCALS.server.id,
          inactive: !activeStatus
        },
        success: (data, status, xhr) => {
          resolve();
        },
        error: function (xhr, status, error) {
          displayAjaxToSupportData(xhr, this);;
          showErrorModal(`${error} - ${xhr.responseText}`, xhr);
          reject();
        }
      });

    })

  }

  function loadDonatorStatus() {
    $.ajax({
      url: `/api/sdtdserver/donatorStatus`,
      type: 'GET',
      data: {
        serverId: window.SAILS_LOCALS.server.id,
        reload: true,
      },
      success: (data, status, xhr) => {
        $("#donatorStatus").text(data);
      },
      error: function (xhr, status, error) {
        displayAjaxToSupportData(xhr, this);;
        showErrorModal(`${error} - ${xhr.responseText}`, xhr);
      }
    });
  }

  function loadFailedStatus() {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: `/api/sdtdserver/failedStatus`,
        type: 'GET',
        data: {
          serverId: window.SAILS_LOCALS.server.id,
          reload: true,
        },
        success: (data, status, xhr) => {
          resolve(data);
        },
        error: function (xhr, status, error) {
          displayAjaxToSupportData(xhr, this);;
          showErrorModal(`${error} - ${xhr.responseText}`, xhr);
        }
      });
    })
  }

  async function displayFailedStatus() {
    let status = await loadFailedStatus();
    if (status.timesFailed > 0) {
      const lastSuccess = new Date(status.lastSuccess);
      $("#failedStatus-counter").text(status.timesFailed);
      $("#failedStatus-lastSuccess").text(`${lastSuccess.toLocaleDateString()} ${lastSuccess.toLocaleTimeString()}`);
      $("#failedStatus").removeClass('invisible');
    }
  }

</script>
