<!-- DISCORD SETTINGS -->
<div class="row">

  <div class="col-md-4">
    <small class="text-muted">Control how the bot behaves in your server
    </small>

    <% if ('' !== user.discordId) { %>

      <a href="/auth/discord">
        <img src="../../images/discordIcon.png" width="50%">
      </a>

      <%  } %>
  </div>

  <div class="col-md-8">
    <ul class="list-group">

      <% if ('' === user.discordId) { %>

        <a href="/auth/discord">
          <img src="../../images/discordIcon.png" width="50%">
        </a>

        <%  } else { %>

          <!-- Server select -->

          <li class='list-group-item'>
            <label for="input-settings-discord-guild">Select discord guild to associate with this 7DTD server</label>
            <div class="form-inline">
              <select class="form-control" id="input-settings-discord-guild">


              </select>
              <button id="input-settings-discord-setguild-btn" type="button" class="btn btn-primary">Set guild</button>
            </div>
          </li>




          <!-- Chat channel select -->

          <li class='list-group-item'>
            <label for="input-settings-discord-chatchannel">Chat channel</label>
            <br>
            <small>Designate a discord channel to create a chat bridge to your server with
              <br>Make sure the bot has permissions to send messages and embed links </small>

            <select class="form-control" id="input-settings-discord-chatchannel">
            </select>
            <div class="form-check">
              <% if(config.chatChannelRichMessages) { %>
                <input class="form-check-input" type="checkbox" value="" id="input-settings-discord-chatchannel-richmessages" checked>
                <% } else { %>
                  <input class="form-check-input" type="checkbox" value="" id="input-settings-discord-chatchannel-richmessages">
                  <% } %>
                    <label class="form-check-label" for="input-settings-discord-chatchannel-richmessages">
                      Rich messages
                      <br>
                      <small> Displays additional information on player (dis)connect </small>
                    </label>

            </div>
          </li>



          <!-- Notification channel select -->

          <li class='list-group-item'>
            <label for="input-settings-discord-notificationChannel">Notifications</label>
            <small>Designate a discord channel to receive CSMM notifications
              <br>Make sure the bot has permissions to send messages and embed links </small>

            <div class="form-group">
              <label for="discord-settings-notifications-reboots-select">CSMM reboots</label>
              <select class="form-control" name="discord-settings-notifications-reboots-select" id="discord-settings-notifications-reboots-select">
                <option>Loading</option>
              </select>
            </div>

            <div class="form-group">
              <label for="discord-settings-notifications-playerconnect-select">Player connect</label>
              <select class="form-control" name="discord-settings-notifications-playerconnect-select" id="discord-settings-notifications-playerconnect-select">
                <option>Loading</option>
              </select>
            </div>

            <div class="form-group">
              <label for="discord-settings-notifications-playerdisconnect-select">Player disconnect</label>
              <select class="form-control" name="discord-settings-notifications-playerdisconnect-select" id="discord-settings-notifications-playerdisconnect-select">
                <option>Loading</option>
              </select>
            </div>

            <div class="form-group">
              <label for="discord-settings-notifications-connectionlost-select">Connection lost</label>
              <select class="form-control" name="discord-settings-notifications-connectionlost-select" id="discord-settings-notifications-connectionlost-select">
                <option>Loading</option>
              </select>
            </div>

            <div class="form-group">
              <label for="discord-settings-notifications-connected-select">(re)connected</label>
              <select class="form-control" name="discord-settings-notifications-connected-select" id="discord-settings-notifications-connected-select">
                <option>Loading</option>
              </select>
            </div>
          </li>
          <% } %>

    </ul>
  </div>

</div>

<script>
  $(document).ready(function () {
    console.log(window.SAILS_LOCALS.config)
    let discordGuildId = window.SAILS_LOCALS.config.discordGuildId;
    let notificationChannelId = window.SAILS_LOCALS.config.notificationChannelId;
    let chatChannelId = window.SAILS_LOCALS.config.chatChannelId;

    // Load guilds the user can manage & add them to select
    $.ajax({
      url: `/api/user/findguildsmanagedbyuser`,
      data: {
        userId: <%= req.session.userId %>
      },
      success: (data, status, xhr) => {
        let foundGuilds = data;
        foundGuilds.forEach(guild => {
          $('#input-settings-discord-guild').append($('<option>', {
              value: guild.id
            })
            .text(guild.name));
        })
        $(`#input-settings-discord-guild option[value='${discordGuildId}']`).prop('selected', true);

        if (discordGuildId) {
          updateChatChannels($('#input-settings-discord-guild').val())
          updateNotificationChannels($('#input-settings-discord-guild').val(),
            "discord-settings-notifications-reboots-select", "systemboot")
          updateNotificationChannels($('#input-settings-discord-guild').val(),
            "discord-settings-notifications-playerconnect-select", "playerconnected")
          updateNotificationChannels($('#input-settings-discord-guild').val(),
            "discord-settings-notifications-playerdisconnect-select", "playerdisconnected")
          updateNotificationChannels($('#input-settings-discord-guild').val(),
            "discord-settings-notifications-connectionlost-select", "connectionlost")
          updateNotificationChannels($('#input-settings-discord-guild').val(),
            "discord-settings-notifications-connected-select", "connected")

        }

      },
      error: (xhr, status, error) => {
        console.log(error);
      }
    })

    // Loads channels of a guild the bot can write in.
    function updateChatChannels(guildId) {
      $('#input-settings-discord-chatchannel').empty()
      $.ajax({
        url: `/api/sdtdserver/findwriteablechannelsinguild`,
        data: {
          guildId: guildId,
          serverId: <%= server.id %>
        },
        success: (data, status, xhr) => {
          let foundChannels = data;
          let enabled = false
          foundChannels.forEach(channel => {
            $('#input-settings-discord-chatchannel').append($('<option>', {
                value: channel.id
              })
              .text(channel.name));
            enabled = true
          })
          if (enabled) {
            $('#input-settings-discord-chatchannel').append($('<option>', {
                value: 0
              })
              .text('Disabled'));
          }
          $(`#input-settings-discord-chatchannel option[value='${chatChannelId}'`).prop('selected', true);
        },
        error: (xhr, status, error) => {
          console.log(error);
        }
      })
    }

    function updateNotificationChannels(guildId, selectId, notificationType) {
      $(`#${selectId}`).empty()
      $.ajax({
        url: `/api/sdtdserver/findwriteablechannelsinguild`,
        data: {
          guildId: guildId,
          serverId: <%= server.id %>
        },
        success: (data, status, xhr) => {
          let foundChannels = data;
          let enabled = false
          foundChannels.forEach(channel => {
            $(`#${selectId}`).append($('<option>', {
                value: channel.id
              })
              .text(channel.name));
            enabled = true
          })
          if (enabled) {
            $(`#${selectId}`).append($('<option>', {
                value: 0
              })
              .text('Disabled'));
          }
          let idToLookFor = window.SAILS_LOCALS.config.discordNotificationConfig[notificationType]
          if (!idToLookFor) {
            idToLookFor = '0'
          }
          $(`#${selectId} option[value='${idToLookFor}'`).prop('selected', true);
        },
        error: (xhr, status, error) => {
          console.log(error);
        }
      })
    }



    // change guild click

    $("#input-settings-discord-setguild-btn").click(e => {
      e.preventDefault();
      let newGuildId = $('#input-settings-discord-guild').val();
      $.ajax({
        url: '/api/sdtdserver/setGuild',
        type: 'POST',
        data: {
          discordGuildId: newGuildId,
          serverId: <%= server.id %>,
          _csrf: window.SAILS_LOCALS._csrf
        },
        success: (data, status, xhr) => {
          updateChatChannels($('#input-settings-discord-guild').val())
          updateNotificationChannels($('#input-settings-discord-guild').val(),
            "discord-settings-notifications-reboots-select", "systemboot")
          updateNotificationChannels($('#input-settings-discord-guild').val(),
            "discord-settings-notifications-playerconnect-select", "playerconnected")
          updateNotificationChannels($('#input-settings-discord-guild').val(),
            "discord-settings-notifications-playerdisconnect-select", "playerdisconnected")
          updateNotificationChannels($('#input-settings-discord-guild').val(),
            "discord-settings-notifications-connectionlost-select", "connectionlost")
          updateNotificationChannels($('#input-settings-discord-guild').val(),
            "discord-settings-notifications-connected-select", "connected")
          $('#input-settings-discord-guild').addClass("bg-success").removeClass("bg-danger");
        },
        error: (xhr, status, error) => {
          alert(`Whoa can't set server to that guild! error: ${error}`)
          $('#input-settings-discord-guild').addClass("bg-danger").removeClass("bg-success");
          console.log(error);
        }
      })
    })

    // Change chat click

    $("#input-settings-discord-chatchannel").change(e => {
      e.preventDefault();

      let newChatChannelId = $('#input-settings-discord-chatchannel').val();
      let newRichMessages
      if ($('#input-settings-discord-chatchannel-richmessages').is(":checked")) {
        newRichMessages = true
      } else {
        newRichMessages = false
      }

      if (!newChatChannelId) {
        return alert('Error! Make sure you have a guild set and are selecting a valid channel')
      }

      $.ajax({
        url: '/api/sdtdserver/setchatchannel',
        type: 'POST',
        data: {
          chatChannelId: newChatChannelId,
          serverId: <%= server.id %>,
          richMessages: newRichMessages,
          _csrf: window.SAILS_LOCALS._csrf
        },
        success: (data, status, xhr) => {
          $('#input-settings-discord-chatchannel').addClass("bg-success").removeClass("bg-danger");
        },
        error: (xhr, status, error) => {
          alert(`Whoa can't set chat to that channel! error: ${error}`)
          $('#input-settings-discord-chatchannel').addClass("bg-danger").removeClass("bg-success");
          console.log(error);
        }
      })
    })

    // Change notification click

    $("#discord-settings-notifications-reboots-select").change(e => {

      let newNotificationChannelId = $('#discord-settings-notifications-reboots-select').val();

      if (!newNotificationChannelId) {
        return alert('Error! Make sure you have a guild set and are selecting a valid channel')
      }

      $.ajax({
        url: '/api/sdtdserver/setnotificationchannel',
        type: 'POST',
        data: {
          notificationChannelId: newNotificationChannelId,
          serverId: <%= server.id %>,
          notificationType: 'systemboot',
          _csrf: window.SAILS_LOCALS._csrf
        },
        success: (data, status, xhr) => {
          $('#discord-settings-notifications-reboots-select').addClass("bg-success").removeClass(
            "bg-danger");
        },
        error: (xhr, status, error) => {
          alert(`Whoa can't set chat to that channel! error: ${error}`)
          $('#discord-settings-notifications-reboots-select').addClass("bg-danger").removeClass(
            "bg-success");
          console.log(error);
        }
      })
    })

    $("#discord-settings-notifications-playerconnect-select").change(e => {

      let newNotificationChannelId = $('#discord-settings-notifications-playerconnect-select').val();

      if (!newNotificationChannelId) {
        return alert('Error! Make sure you have a guild set and are selecting a valid channel')
      }

      $.ajax({
        url: '/api/sdtdserver/setnotificationchannel',
        type: 'POST',
        data: {
          notificationChannelId: newNotificationChannelId,
          serverId: <%= server.id %>,
          notificationType: 'playerconnected',
          _csrf: window.SAILS_LOCALS._csrf
        },
        success: (data, status, xhr) => {
          $('#discord-settings-notifications-playerconnect-select').addClass("bg-success").removeClass(
            "bg-danger");
        },
        error: (xhr, status, error) => {
          alert(`Whoa can't set chat to that channel! error: ${error}`)
          $('#discord-settings-notifications-playerconnect-select').addClass("bg-danger").removeClass(
            "bg-success");
          console.log(error);
        }
      })
    })

    $("#discord-settings-notifications-playerdisconnect-select").change(e => {

      let newNotificationChannelId = $('#discord-settings-notifications-playerdisconnect-select').val();

      if (!newNotificationChannelId) {
        return alert('Error! Make sure you have a guild set and are selecting a valid channel')
      }

      $.ajax({
        url: '/api/sdtdserver/setnotificationchannel',
        type: 'POST',
        data: {
          notificationChannelId: newNotificationChannelId,
          serverId: <%= server.id %>,
          notificationType: 'playerdisconnected',
          _csrf: window.SAILS_LOCALS._csrf
        },
        success: (data, status, xhr) => {
          $('#discord-settings-notifications-playerdisconnect-select').addClass("bg-success").removeClass(
            "bg-danger");
        },
        error: (xhr, status, error) => {
          alert(`Whoa can't set chat to that channel! error: ${error}`)
          $('#discord-settings-notifications-playerdisconnect-select').addClass("bg-danger").removeClass(
            "bg-success");
          console.log(error);
        }
      })
    })

    
    $("#discord-settings-notifications-connected-select").change(e => {

      let newNotificationChannelId = $('#discord-settings-notifications-connected-select').val();

      if (!newNotificationChannelId) {
        return alert('Error! Make sure you have a guild set and are selecting a valid channel')
      }

      $.ajax({
        url: '/api/sdtdserver/setnotificationchannel',
        type: 'POST',
        data: {
          notificationChannelId: newNotificationChannelId,
          serverId: <%= server.id %>,
          notificationType: 'connected',
          _csrf: window.SAILS_LOCALS._csrf
        },
        success: (data, status, xhr) => {
          $('#discord-settings-notifications-connected-select').addClass("bg-success").removeClass(
            "bg-danger");
        },
        error: (xhr, status, error) => {
          alert(`Whoa can't set chat to that channel! error: ${error}`)
          $('#discord-settings-notifications-connected-select').addClass("bg-danger").removeClass(
            "bg-success");
          console.log(error);
        }
      })
    })

        $("#discord-settings-notifications-connectionlost-select").change(e => {

      let newNotificationChannelId = $('#discord-settings-notifications-connectionlost-select').val();

      if (!newNotificationChannelId) {
        return alert('Error! Make sure you have a guild set and are selecting a valid channel')
      }

      console.log(newNotificationChannelId)

      $.ajax({
        url: '/api/sdtdserver/setnotificationchannel',
        type: 'POST',
        data: {
          notificationChannelId: newNotificationChannelId,
          serverId: <%= server.id %>,
          notificationType: 'connectionlost',
          _csrf: window.SAILS_LOCALS._csrf
        },
        success: (data, status, xhr) => {
          $('#discord-settings-notifications-connectionlost-select').addClass("bg-success").removeClass(
            "bg-danger");
        },
        error: (xhr, status, error) => {
          alert(`Whoa can't set chat to that channel! error: ${error}`)
          $('#discord-settings-notifications-connectionlost-select').addClass("bg-danger").removeClass(
            "bg-success");
          console.log(error);
        }
      })
    })

  })

</script>
