

<body>
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4">
          <h1><%= server.name %></h1>
        <div id="dashboard-title" class="page-header">
          <%- include('./partials/onlinePlayers', {server: server}) %>
        </div>
      </div>
      <% if(!_.isUndefined(server.stats) && !_.isUndefined(server.serverInfo)) { %>
        <div class="col-md-4">
          <%- include('./partials/basicServerInfo', {server: server}) %>
        </div>
        <div class="col-md-4">
          <%- include('./partials/serverControl', {server: server}) %>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%- include('./partials/chat/chatWindow', {server: server}) %>
          <%- include('./partials/chat/chatControls', {server: server}) %>

      </div>
      <div class="col-md-6">
        <%- include('./partials/console/consoleWindow', {server: server}) %>
          <%- include('./partials/console/consoleControls', {server: server}) %>
      </div>

    </div>
    <% } else { %>
      <h2> ERROR </h2> <br>
      <p> Could not connect to your server! </p> <br>

      <% const deleteLink = '/sdtdserver/' + server.id + '/delete' %>
        <a href='<%= deleteLink %>'>
          <button id="delete-server-button" class="btn btn-default btn-danger" type="button">
            <em class="glyphicon glyphicon-align-justify"></em>
            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete server
          </button>
        </a>

        <% const settingsLink = '/sdtdserver/' + server.id + '/settings' %>
        <a href='<%= settingsLink %>'>
          <button id="settings-server-button" class="btn btn-default btn-primary" type="button">
            <em class="glyphicon glyphicon-align-justify"></em>
            <i class="fa fa-cog" aria-hidden="true"></i> Change settings
          </button>
        </a>


        <% } %>
  </div>
</body>
