<%- exposeLocalsToBrowser() %>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= '/user/' + req.session.userId + '/dashboard' %>"> Dashboard </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= server.name %>
                    </a>
            </li>
        </ol>
    </nav>
    <h1 id="server-name">
        <%= server.name %> Dashboard</h1>


    <%- include('./partials/restartServer', {server: server}) %>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#delete-server-button">
            <i class="fas fa-trash-alt"></i> Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" id="delete-server-button" tabindex="-1" role="dialog" aria-labelledby="delete-server-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="delete-server-modal">Delete server</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            Are you sure?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <% const deleteLink = '/sdtdserver/' + server.id + '/delete' %>
                            <a href='<%= deleteLink %>'>
                                <button id="delete-server-button" class="btn btn-default btn-danger" type="button">
                                    <em class="glyphicon glyphicon-align-justify"></em>
                                    Delete server
                                </button>
                            </a>

                            <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-columns">

            <% if(!_.isUndefined(server.stats) && !_.isUndefined(server.serverInfo)) { %>


                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-users"></i> Online players
                    </div>
                    <div class="card-body">
                        <p class="card-text">

                            <%- include('./partials/onlinePlayers', {server: server}) %>


                        </p>
                    </div>
                </div>



                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-info"></i> Server info
                    </div>
                    <div class="card-body">
                        <p class="card-text">

                            <%- include('./partials/basicServerInfo', {server: server}) %>

                        </p>
                    </div>
                </div>



                <% } %>

                    <div class="card text-center">
                        <img class="card-img-top" src="holder.js/100px180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <i class="far fa-map"></i>
                                </i> Map</h4>
                            <p class="card-text">
                                <%- include('./partials/map', {server: server}) %>
                            </p>
                        </div>
                    </div>



        </div>
        <hr>

        <div class="card-columns">

            <div class="card">
                <div class="card-header">
                    <i class="fas fa-comments"></i> Chat
                </div>
                <div class="card-body">
                    <p class="card-text">

                        <%- include('./partials/chat/chatWindow', {server: server}) %>
                            <%- include('./partials/chat/chatControls', {server: server}) %>

                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <i class="fas fa-terminal"></i> Console
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <%- include('./partials/console/consoleWindow', {server: server}) %>
                            <%- include('./partials/console/consoleControls', {server: server}) %>
                    </p>
                </div>
            </div>

        </div>


        </div>


        <style>
            .card {
                margin: 1%
            }
        </style>



        <script>
            $(document).ready(function () {



                $.get('/api/sdtdserver/onlinestatus', { serverId: <%= server.id %> }, onlineStatus => {
                    let elementToAdd = `<i class="${onlineStatus ? "fas fa-check-circle text-success" : "fas fa-times-circle text-danger"}"></i> `
                    $(`#server-name`).prepend(elementToAdd)
                })

                $.ajax({
                    url: `/api/sdtdticket/opentickets`,
                    data: { serverId: "<%= server.id %>" },
                    success: (data, status, xhr) => {
                        let opentickets = data;
                        $('#sdtd-server-<%= server.id %>-tickets-badge').text(opentickets.length)

                    },
                    error: (xhr, status, error) => {
                        console.log(error)
                    }
                });
            })
        </script>