<div class="container-fluid">
  <h1>Settings</h1>

  <!-- Basic server settings -->

  <div class="card-columns">

    <div class="card">
      <div class="card-header" id="settings-heading-basicServerSettings">
        <h5 class="mb-0">
          <button class="btn btn-link">
            <i class="fas fa-cogs fa-lg"></i> Basic server settings
          </button>
        </h5>
      </div>

      <div id="settings-collapse-basicServerSettings">
        <div class="card-body">
          <%- include('./partials/settings/basicServerSettings', {server: server, config: config}) %>
        </div>
      </div>

    </div>

    <!-- Discord settings -->

    <div class="card">
      <div class="card-header" id="settings-heading-discordSettings">
        <h5 class="mb-0">
          <button class="btn btn-link">
            <i class="fab fa-discord fa-lg"></i> Discord settings
          </button>
        </h5>
      </div>

      <div id="settings-collapse-discordSettings">
        <%- include('./partials/settings/discordSettings', {server: server, config: config, user: user}) %>
      </div>
    </div>

    <!-- Cron settings -->

    <div class="card">
      <div class="card-header" id="settings-heading-cronSettings">
        <h5 class="mb-0">
          <button class="btn btn-link">
            <i class="fas fa-arrow-alt-circle-down fa-lg "></i> Server automation
          </button>
        </h5>
      </div>

      <div id="settings-collapse-cronSettings">
        <div class="card-body">

          <%- include('./partials/settings/cronSettings', {server: server, config: config}) %>
        </div>
      </div>

    </div>
    <!-- Country ban settings -->

    <div class="card">
      <div class="card-header" id="settings-heading-countryBanSettings">
        <h5 class="mb-0">
          <button class="btn btn-link">
            <i class="fas fa-globe fa-lg  "></i> Country ban
          </button>
        </h5>
      </div>

      <div id="settings-collapse-countryBanSettings">
        <div class="card-body">

          <%- include('./partials/settings/countryBanSettings', {server: server, config: config}) %>
        </div>
      </div>

    </div>

    <!-- Tracking settings -->

    <div class="card">
      <div class="card-header" id="settings-heading-trackerSettings">
        <h5 class="mb-0">
          <button class="btn btn-link">
            <i class="fas fa-search fa-lg  "></i> Player tracking
          </button>
        </h5>
      </div>

      <div id="settings-collapse-trackerSettings">
        <div class="card-body">
          <%- include('./partials/settings/playerTracking.ejs', {server: server, config: config, user: user}) %>
        </div>
      </div>

    </div>


    <!-- Ingame commands settings -->

    <div class="card">
      <div class="card-header" id="settings-heading-ingameCommandsSettings">
        <h5 class="mb-0">
          <button class="btn btn-link">
            <i class="fas fa-gamepad fa-lg"></i> Ingame commands
          </button>
        </h5>
      </div>

      <div id="settings-collapse-ingameCommandsSettings">
        <div class="card-body">

          <%- include('./partials/settings/commandSettings', {server: server, config: config}) %>
        </div>
      </div>

    </div>

    <!-- Message of the day settings -->

    <div class="card">
      <div class="card-header" id="settings-heading-motdSettings">
        <h5 class="mb-0">
          <button class="btn btn-link">
            <i class="far fa-comment fa-lg"></i> Message of the day
          </button>
        </h5>
      </div>

      <div id="settings-collapse-motdSettings">
        <div class="card-body">
          <%- include('./partials/settings/motdSettings', {server: server, config: config}) %>

        </div>
      </div>

    </div>

    <div class="card">
      <div class="card-header" id="settings-heading-economySettings">
        <h5 class="mb-0">
          <button class="btn btn-link">
            <i class="fas fa-money-bill fa-lg "></i> Economy
          </button>
        </h5>
      </div>

      <div id="settings-collapse-economySettings">
        <div class="card-body">
          <%- include('./partials/settings/economySettings', {server: server, config: config}) %>

        </div>
      </div>

    </div>


  </div>
</div>