<body>

  <div class="container-fluid">

      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= '/user/' + req.session.userId + '/dashboard' %>"> Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <a href="<%= '/sdtdserver/' + server.id + '/dashboard' %>">
                <%= server.name %>
              </a>
            </li>
            <li class="breadcrumb-item">
                <a href="<%= '/sdtdserver/' + server.id + '/players' %>">
                  Players
                </a>
              </li>
            <li class="breadcrumb-item active" aria-current="page"><%= player.name %></li>
          </ol>
        </nav>

    <div class="row">

      <div class="col-md-10">
          <h1>
            <img alt="Bootstrap Image Preview" src="<%= player.avatarUrl %>" style='border-radius: 50%;' />
            <%= player.name %>
          </h1>
      </div>

      <div class="col-md-2">
        <div class="btn-group btn-group-vertical">

          <% if (player.banned) { %>
            <%- include("./partials/unbanPlayerButton", {player: player}) %>
              <% } else { %>

                <%- include("./partials/banPlayerButton", {player: player}) %>
                  <%- include("./partials/kickPlayerButton", {player: player}) %>
                    <%- include("./partials/teleportPlayerButton", {player: player}) %>
                    <%- include("./partials/giveItemButton", {player: player}) %>
                    <%- include("./partials/setMoneyButton", {player: player}) %>
                      <% } %>


        </div>
      </div>

    </div>


    <div class="row">
      <table class="table">

        <tbody>

          <tr>
            <td scope="row">Steam ID</td>
            <td>
              <%= player.steamId %>
            </td>
          </tr>

          <tr>
            <td scope="row">Entity ID</td>
            <td>
              <%= player.entityId %>
            </td>
          </tr>

          <tr>
            <td scope="row">IP</td>
            <td>
              <%= player.ip %>
            </td>
          </tr>

          <tr>
            <td scope="row">Country</td>
            <td>
              <% if (player.country) { %>
                <% let lowerCaseCountry = player.country.toLowerCase(); %>
                  <img src="../../images/flags/blank.gif" class="flag flag-<%= lowerCaseCountry %>" />
                  <%= player.country %>
                    <% } %>
            </td>
          </tr>

          <tr>
            <td scope="row">Location</td>
            <td>
              <%= player.positionX %>
                <%= player.positionY %>
                  <%= player.positionZ %>
            </td>
          </tr>

          <tr>
            <td scope="row">Playtime</td>
            <td>
              <%= player.playtimeHHMMSS %>
            </td>
          </tr>

          <tr>
            <td scope="row">Last online</td>
            <td>
              <% let lastOnlineDate = new Date(player.lastOnline) %>
                <% let lastOnlineString = `${lastOnlineDate.toDateString()} ${lastOnlineDate.toTimeString()}` %>
                  <%= lastOnlineString %>
            </td>
          </tr>

          <tr>
            <td scope="row">Ban status</td>
            <td>
              <%= player.banned %>
            </td>
          </tr>

          <tr>
            <td scope="row">Level</td>
            <td>
              <%= player.level %>
            </td>
          </tr>

          <tr>
            <td scope="row">Deaths</td>
            <td>
              <%= player.deaths %>
            </td>
          </tr>

          <tr>
            <td scope="row">Score</td>
            <td>
              <%= player.score %>
            </td>
          </tr>

          <tr>
            <td scope="row">Zombie kills</td>
            <td>
              <%= player.zombieKills %>
            </td>
          </tr>

          <tr>
            <td scope="row">Player kills</td>
            <td>
              <%= player.playerKills %>
            </td>
          </tr>

          <tr>
              <td scope="row">CSMM currency balance</td>
              <td>
                <%= player.currency %>
              </td>
            </tr>

          <tr>
            <td scope="row">Teleports</td>
            <td>
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody id='player-teleport-locations'>
                </tbody>
              </table>
            </td>
          </tr>


        </tbody>
      </table>
    </div>

    <hr>

    <div class="row">
      <h3>Inventory</h3>
      <%- include('./partials/playerInventory', {player: player}) %>
    </div>

    <hr>

    <div class="row">
      <h3>Logs</h3>
      <table id='player-historicalInfo-table' class="table display hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Message</th>
            <th>Amount</th>
          </tr>
        </thead>

      </table>
    </div>


  </div>
</body>

<script>

  $(document).ready(function () {

    let historicalInfo = window.SAILS_LOCALS.historicalInfo;


    let historicalInfoTable = $('#player-historicalInfo-table').DataTable({
      data: window.SAILS_LOCALS.historicalInfo,
      dom: 'Bfrtip',
      fixedHeader: true,
      responsive: true,
      buttons: [
        'copy', 'excel', 'pdf', 'print'
      ],
      order: [[0, 'desc'],
      [1, 'desc']],
      columns: [{
        data: "createdAt",
        render: function (data, type, row, meta) {
          let date = new Date(data)
          return `${date.toDateString()}`
        }
      },
      {
        data: 'createdAt',
        render: function (data, type, row, meta) {
          let date = new Date(data)
          return `${date.toTimeString()}`
        }
      },
      {
        data: 'message'
      },
      {
        data: 'amount'
      },
      ]
    })

    updateTeleportLocations()
    function updateTeleportLocations() {
      let playerId = window.SAILS_LOCALS.player.id;
      $.get('/api/player/teleports', { playerId: playerId }, teleportLocations => {
        teleportLocations.forEach(teleport => {
          let teleportHtml = `<tr><td>${teleport.name}</td><td>${teleport.x},${teleport.y},${teleport.z}</td></tr>`
          $("#player-teleport-locations").append(teleportHtml)

        })
      })
    }
  })
</script>